.elements__like-button {
  margin: 20px 15px 0 0;
  width: 21px;
  height: 19px;
  background-color: white;
  border: none;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.elements__like-button:hover {
  opacity: .7;
  transition: opacity .2s ease-in;
}
