.popup__submit_inactive, .popup__submit_inactive:hover {
  background-color: #E5E5E5;
  color: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.2;
  cursor: default;
}
